<!--Header Menu Starts-->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li><a class="brand" href="/">Address Book</a></li>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Signup</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
<!--Header Menu Ends-->