<!-- Header Menu starts -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-collapse collapse nabbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li><a class="brand" href="/">Address Book</a></li>
                <li class="active"><a href="/userhome">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="#">Password Change</a></li>
                <li><a href="/signout">Signout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<!-- Header Menu ends -->