<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body>
    <% include headeruser.html %>
    <div class="container">
      <div class="row-fluid" style="margin-top:70px">
        <% include usersidebar.html %>
        <div class="col-lg-10 text-center">
          <a href="/contacts"><img src="/images/ab06.png" alt="Contacts"></a>
        </div>
      </div>
    </div>
    
    <% include footer.html %>
  </body>
</html>