<!-- Sidebar starts-->
<div class="col-lg-2 alert alert-info">
          <div class="row-fluid">
            <div class="col-lg-12 text-center">
              <img src="/images/noavatar.gif" alt="No Avatar" width="130" height="130" />
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-lg-12 text-center">
              <a href="#">Change Avatar</a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-lg-12 text-center">
              <strong><%= uname %></strong><br>
              <%= country %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-lg-12 text-center">
              <a href="#">Edit Profile</a><br>
              <a href="#">Contacts</a>
            </div>
          </div>
        </div>
<!-- Sidebar ends-->